In [ ]:
#pip install pandas

In [5]:
import pandas as pd

In [10]:
## lists
grades_list = [99, 95, 85, 92, 100]
print (grades_list)

[99, 95, 85, 92, 100]

In [7]:


grades = pd.Series([99, 95, 85, 92, 100])
print(grades)

0     99
1     95
2     85
3     92
4    100
dtype: int64

In [14]:
## Adding Inndex
grades = pd.Series([99,95,85,92,100], 
index=['Alice','Bob','Sam','John','Michael'])
print (grades)

Alice       99
Bob         95
Sam         85
John        92
Michael    100
dtype: int64

In [15]:
## indexing the value
grades['Alice']

99

In [21]:
# Series representing marks in two test
test_1 = pd.Series([80, 90, 100], index = ['Alice', 'Bob', 'Charlies'])
test_2 = pd.Series ([90,80,60], index = ['Alice', 'Bob', 'Charlies'])

#Add the Series together
total_marks = test_1 + test_2
print(total_marks)

Alice       170
Bob         170
Charlies    160
dtype: int64

In [27]:
## Importing your csv as Dataframe
import pandas as pd

df = pd.read_csv('C:\A1.csv')

## To 5  rows
df.head(10)

<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:4: SyntaxWarning: invalid escape sequence '\A'
C:\Users\ASHWIN\AppData\Local\Temp\ipykernel_26076\3637873108.py:4: SyntaxWarning: invalid escape sequence '\A'
  df = pd.read_csv('C:\A1.csv')

   PatientID  Age  Gender      Diagnosis    Treatment   Cost   VisitDate
0          1   52   Other   Hypertension      Therapy  41195  2023-08-18
1          2   15    Male            Flu   Medication  20202  2023-11-18
2          3   72  Female   Hypertension      Therapy  25742  2023-10-19
3          4   61    Male       Covid-19  Vaccination   2676  2023-01-26
4          5   21   Other  Heart Disease  Vaccination  20627  2023-03-16
5          6   83   Other       Diabetes      Therapy  42060  2023-12-30
6          7   87   Other       Diabetes   Medication  27728  2023-10-26
7          8   75    Male            Flu      Therapy  20708  2023-05-30
8          9   75    Male       Covid-19      Therapy  28982  2023-05-28
9         10   88    Male         Asthma      Therapy   9671  2023-01-08

In [32]:
df.shape

(1000, 7)

In [34]:
df.tail(5)

     PatientID  Age  Gender      Diagnosis        Treatment   Cost   VisitDate
995        996   18   Other       Diabetes      Vaccination   3755  2023-02-12
996        997   40  Female       Diabetes      Vaccination   5713  2023-07-30
997        998   72   Other   Hypertension          Therapy  37376  2023-07-19
998        999   39  Female  Heart Disease  Routine Checkup  19904  2023-10-25
999       1000   14  Female  Heart Disease       Medication  25880  2023-12-12

In [36]:
df['Age']

0      52
1      15
2      72
3      61
4      21
       ..
995    18
996    40
997    72
998    39
999    14
Name: Age, Length: 1000, dtype: int64

In [37]:
df['Cost']

0      41195
1      20202
2      25742
3       2676
4      20627
       ...
995     3755
996     5713
997    37376
998    19904
999    25880
Name: Cost, Length: 1000, dtype: int64

In [ ]:
## Filter bassed on Age

In [39]:
df[df['Age']>=70]

     PatientID  Age  Gender      Diagnosis        Treatment   Cost   VisitDate
2            3   72  Female   Hypertension          Therapy  25742  2023-10-19
5            6   83   Other       Diabetes          Therapy  42060  2023-12-30
6            7   87   Other       Diabetes       Medication  27728  2023-10-26
7            8   75    Male            Flu          Therapy  20708  2023-05-30
8            9   75    Male       Covid-19          Therapy  28982  2023-05-28
..         ...  ...     ...            ...              ...    ...         ...
987        988   83    Male            Flu          Therapy  49858  2023-06-20
988        989   78    Male            Flu          Surgery  21759  2023-05-21
992        993   89   Other         Asthma      Vaccination  47769  2023-04-21
994        995   89   Other  Heart Disease  Routine Checkup  40591  2023-12-08
997        998   72   Other   Hypertension          Therapy  37376  2023-07-19

[195 rows x 7 columns]

In [40]:
df_age = df[df['Age']>=70]
df

     PatientID  Age  Gender      Diagnosis        Treatment   Cost   VisitDate
0            1   52   Other   Hypertension          Therapy  41195  2023-08-18
1            2   15    Male            Flu       Medication  20202  2023-11-18
2            3   72  Female   Hypertension          Therapy  25742  2023-10-19
3            4   61    Male       Covid-19      Vaccination   2676  2023-01-26
4            5   21   Other  Heart Disease      Vaccination  20627  2023-03-16
..         ...  ...     ...            ...              ...    ...         ...
995        996   18   Other       Diabetes      Vaccination   3755  2023-02-12
996        997   40  Female       Diabetes      Vaccination   5713  2023-07-30
997        998   72   Other   Hypertension          Therapy  37376  2023-07-19
998        999   39  Female  Heart Disease  Routine Checkup  19904  2023-10-25
999       1000   14  Female  Heart Disease       Medication  25880  2023-12-12

[1000 rows x 7 columns]

In [41]:
df_age.shape

(195, 7)

In [42]:
df_age.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
PatientID,195.0,506.030769,306.545954,3.0,214.0,540.0,768.5,998.0
Age,195.0,79.851282,6.030287,70.0,75.0,80.0,86.0,89.0
Cost,195.0,25512.846154,14451.307367,582.0,11824.0,25742.0,36940.0,49858.0

In [ ]:
## Create a new Column

In [43]:
df.head()

   PatientID  Age  Gender      Diagnosis    Treatment   Cost   VisitDate
0          1   52   Other   Hypertension      Therapy  41195  2023-08-18
1          2   15    Male            Flu   Medication  20202  2023-11-18
2          3   72  Female   Hypertension      Therapy  25742  2023-10-19
3          4   61    Male       Covid-19  Vaccination   2676  2023-01-26
4          5   21   Other  Heart Disease  Vaccination  20627  2023-03-16

In [49]:
df['Updated_Gender'] = df['Gender'] + "_1"

In [50]:
df

,PatientID,Age,Gender,Diagnosis,Treatment,Cost,VisitDate,Updated_Gender
0,1,52,Other,Hypertension,Therapy,41195,2023-08-18,Other_1
1,2,15,Male,Flu,Medication,20202,2023-11-18,Male_1
2,3,72,Female,Hypertension,Therapy,25742,2023-10-19,Female_1
3,4,61,Male,Covid-19,Vaccination,2676,2023-01-26,Male_1
4,5,21,Other,Heart Disease,Vaccination,20627,2023-03-16,Other_1
...,...,...,...,...,...,...,...,...
995,996,18,Other,Diabetes,Vaccination,3755,2023-02-12,Other_1
996,997,40,Female,Diabetes,Vaccination,5713,2023-07-30,Female_1
997,998,72,Other,Hypertension,Therapy,37376,2023-07-19,Other_1
998,999,39,Female,Heart Disease,Routine Checkup,19904,2023-10-25,Female_1
999,1000,14,Female,Heart Disease,Medication,25880,2023-12-12,Female_1

In [51]:
df.shape

(1000, 8)

In [52]:
df.head()

,PatientID,Age,Gender,Diagnosis,Treatment,Cost,VisitDate,Updated_Gender
0,1,52,Other,Hypertension,Therapy,41195,2023-08-18,Other_1
1,2,15,Male,Flu,Medication,20202,2023-11-18,Male_1
2,3,72,Female,Hypertension,Therapy,25742,2023-10-19,Female_1
3,4,61,Male,Covid-19,Vaccination,2676,2023-01-26,Male_1
4,5,21,Other,Heart Disease,Vaccination,20627,2023-03-16,Other_1

In [54]:
df.sort_values('Age', ascending=True)

,PatientID,Age,Gender,Diagnosis,Treatment,Cost,VisitDate,Updated_Gender
172,173,1,Male,Hypertension,Surgery,3300,2023-08-25,Male_1
719,720,1,Other,Flu,Therapy,2882,2023-10-02,Other_1
700,701,1,Female,Covid-19,Medication,23685,2023-10-02,Female_1
641,642,1,Other,Heart Disease,Vaccination,2420,2023-03-05,Other_1
610,611,1,Other,Covid-19,Surgery,44439,2023-07-21,Other_1
...,...,...,...,...,...,...,...,...
505,506,89,Female,Diabetes,Surgery,23799,2023-01-14,Female_1
426,427,89,Female,Flu,Routine Checkup,25444,2023-07-16,Female_1
26,27,89,Other,Heart Disease,Routine Checkup,47456,2023-09-13,Other_1
693,694,89,Male,Heart Disease,Medication,5494,2023-03-12,Male_1
170,171,89,Other,Flu,Medication,11608,2023-08-10,Other_1

In [55]:
df

,PatientID,Age,Gender,Diagnosis,Treatment,Cost,VisitDate,Updated_Gender
0,1,52,Other,Hypertension,Therapy,41195,2023-08-18,Other_1
1,2,15,Male,Flu,Medication,20202,2023-11-18,Male_1
2,3,72,Female,Hypertension,Therapy,25742,2023-10-19,Female_1
3,4,61,Male,Covid-19,Vaccination,2676,2023-01-26,Male_1
4,5,21,Other,Heart Disease,Vaccination,20627,2023-03-16,Other_1
...,...,...,...,...,...,...,...,...
995,996,18,Other,Diabetes,Vaccination,3755,2023-02-12,Other_1
996,997,40,Female,Diabetes,Vaccination,5713,2023-07-30,Female_1
997,998,72,Other,Hypertension,Therapy,37376,2023-07-19,Other_1
998,999,39,Female,Heart Disease,Routine Checkup,19904,2023-10-25,Female_1
999,1000,14,Female,Heart Disease,Medication,25880,2023-12-12,Female_1

In [60]:
df_sort = df.sort_values('Age', ascending=True, inplace = True)

NameError: name 'Male' is not defined

In [63]:
df.sort_index(ascending = False)

,PatientID,Age,Gender,Diagnosis,Treatment,Cost,VisitDate,Updated_Gender
999,1000,14,Female,Heart Disease,Medication,25880,2023-12-12,Female_1
998,999,39,Female,Heart Disease,Routine Checkup,19904,2023-10-25,Female_1
997,998,72,Other,Hypertension,Therapy,37376,2023-07-19,Other_1
996,997,40,Female,Diabetes,Vaccination,5713,2023-07-30,Female_1
995,996,18,Other,Diabetes,Vaccination,3755,2023-02-12,Other_1
...,...,...,...,...,...,...,...,...
4,5,21,Other,Heart Disease,Vaccination,20627,2023-03-16,Other_1
3,4,61,Male,Covid-19,Vaccination,2676,2023-01-26,Male_1
2,3,72,Female,Hypertension,Therapy,25742,2023-10-19,Female_1
1,2,15,Male,Flu,Medication,20202,2023-11-18,Male_1
0,1,52,Other,Hypertension,Therapy,41195,2023-08-18,Other_1

In [67]:
df.drop(['Updated_Gender'], axis=1)

     PatientID  Age  Gender      Diagnosis        Treatment   Cost   VisitDate
172        173    1    Male   Hypertension          Surgery   3300  2023-08-25
719        720    1   Other            Flu          Therapy   2882  2023-10-02
700        701    1  Female       Covid-19       Medication  23685  2023-10-02
641        642    1   Other  Heart Disease      Vaccination   2420  2023-03-05
610        611    1   Other       Covid-19          Surgery  44439  2023-07-21
..         ...  ...     ...            ...              ...    ...         ...
505        506   89  Female       Diabetes          Surgery  23799  2023-01-14
426        427   89  Female            Flu  Routine Checkup  25444  2023-07-16
26          27   89   Other  Heart Disease  Routine Checkup  47456  2023-09-13
693        694   89    Male  Heart Disease       Medication   5494  2023-03-12
170        171   89   Other            Flu       Medication  11608  2023-08-10

[1000 rows x 7 columns]

In [69]:
df.drop(['Updated_Gender'], axis=1, inplace = True)

In [68]:
df

,PatientID,Age,Gender,Diagnosis,Treatment,Cost,VisitDate,Updated_Gender
172,173,1,Male,Hypertension,Surgery,3300,2023-08-25,Male_1
719,720,1,Other,Flu,Therapy,2882,2023-10-02,Other_1
700,701,1,Female,Covid-19,Medication,23685,2023-10-02,Female_1
641,642,1,Other,Heart Disease,Vaccination,2420,2023-03-05,Other_1
610,611,1,Other,Covid-19,Surgery,44439,2023-07-21,Other_1
...,...,...,...,...,...,...,...,...
505,506,89,Female,Diabetes,Surgery,23799,2023-01-14,Female_1
426,427,89,Female,Flu,Routine Checkup,25444,2023-07-16,Female_1
26,27,89,Other,Heart Disease,Routine Checkup,47456,2023-09-13,Other_1
693,694,89,Male,Heart Disease,Medication,5494,2023-03-12,Male_1
170,171,89,Other,Flu,Medication,11608,2023-08-10,Other_1